html
  head
    title Documento Básico
  body
    h1 Documento Básico
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur perferendis repellat labore, ipsa quam provident ad laboriosam aliquam, non harum, quis recusandae est id nulla. Id nobis nesciunt animi, qui?