h2 Enlaces
a(href='http://google.com') Ir a Google
&nbsp; | &nbsp;
a(href='http://co.yahoo.com') Ir a Yahoo
&nbsp; | &nbsp;
a(href='http://youtube.com') Ir a YouTube
h2 Anclas
a(name="inicio")
a(href='#info1') Ir a Informaci贸n 1
&nbsp; | &nbsp;
a(href='#info2') Ir a Informaci贸n 2
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(href='#inicio') Ir a Inicio
h1 Informaci贸n 1
a(name="info1")
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusantium perspiciatis odit nam fuga dolore omnis repudiandae et commodi incidunt sed odio enim, quo accusamus maxime rerum! Iusto, sit, ut!
br
br
br
br
br
br
br
br
br
br
br
br
a(href='#inicio') Ir a Inicio
h1 Informaci贸n 2
a(name="info2")
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusantium perspiciatis odit nam fuga dolore omnis repudiandae et commodi incidunt sed odio enim, quo accusamus maxime rerum! Iusto, sit, ut!
