doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Lista No Ordenada
  body
   li Colores
    ul
     li Amarillo
     li Azul
     li Rojo
     li Blanco
     li Verde
   li Carros 
    ul
      li Lamborghini
      li Porsche
      li Ford
      li Toyota
      li Mercedes