doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tablas
  body
   table(border=1)
     tr
       th Nombre Completo
       th Teléfono
       th Dirección
     tr
       td Jeremias Springfield
       td 8741132
       td Calle 11 #7A - 32
     tr
       td Homero Simpson
       td 8766205
       td Calle 55 A # 11B45