html(lang="es")
  head
    meta(charset="UTF-8")
    title Reto Tablas
    style(rel='stylesheet').
      table {
        border: 2px solid #aaa;
        border-collapse: collapse;
        }
        table td {
        background-color:#eee;
        border: 2px solid #aaa;
        color: #888;
        font: 16px Tahoma;
        padding: 20px;
        text-align: center;
        }
  body
    table(border=1)
      tr
        td(colspan=5) a
      tr
        td(rowspan=3) b
        td c
        td d
        td e
        td(rowspan=2) f
      tr
        td(colspan=3) b
      tr
        td 1
        td 2
        td 3
        td 4