section 
    background #f00 url(../imgs/borde.png) no-repeat 
    border 40px solid transparent
    height 300px
    margin 20px
    padding 20px
    width 600px

.caja1 
    background-origin: border-box

.caja2 
    background-origin: padding-box

.caja3 {
    background-origin: content-box

