@import 'https://fonts.googleapis.com/css?family=Oswald'

body
	background-color #aaa
	
section.principal
	background-color #fff
	border 2px solid #ccc
	padding 10px
	margin 40px auto
	width 600px
	
h1
	color #999
	font-family 'Oswald'
	font-size 2.5em
	text-align center
	
p
	color #666
	font-family 'Oswald'
	font-size 1.2em
	
	