body
	font 16px Arial
	margin 0px
	padding 0px
	text-align center
header
	width 100%
	background-color #FFAAAA
	position fixed
	z-index 1
div
	margin 0 auto
	max-width 1024px
nav
	display inline-block
	min-height 72px
	width auto
nav li
	background-color #D46A6A
	display inline-block
	height 72px
	text-align center
	width 100px
nav li a
	display inline-block
	box-sizing border-box
	text-decoration none
	color #fff
	line-height 38px
	padding 17px 12px
	vertical-align top
	width 100px
	
	
nav li:hover
	background-color #FFAAAA
	transform scale(1.2)
	-webkit-transform scale(1.2)
nav li.link1:hover
	background-color #801515
	transform scale(1.2)
	-webkit-transform scale(1.2)
nav li.link2:hover
	transition all 0.1s ease-in
nav li.link3:hover
	transform rotate(10deg)
footer
	background-color #000
	padding 10px
	color #fff
	width 100%

footer p
	text-align justify
footer .columns
	width 50%
.columns
	float left
	min-height 1px
	padding 0 18px
	position relative

.row
	margin 0
	max-width 1024px
	width 94%
*, *:before, *:after
	box-sizing border-box
.row .six
	width 50%
.row:after
	clear both
	
footer ul
	list-style none
	margin 12px 0
	padding 0
footer ul li
	margin 0px
	padding-left 0px
	

	