body
html
 	background-color #FB6A6A
 	background-image linear-gradient(to right, rgba(0,0,0,0.5) 50%, transparent 0)
 	background-size 120px 100%
 	background-position center center
 
body
 	font 16px
 	color #CE8F8F
main
	margin auto
 	text-align center
 	width 800px
 	
	h1
 		font-size 4em
 		text-shadow 0px 2px 10px #000
 	section#ventana
 		box-shadow 0px 2px 10px #FC3636
 		height 480px
 		margin 0px auto
 		position relative
 		overflow hidden
 		width 640px
 		
 		div
 			background-position center center
 			background-repeat repeat-x
 			position absolute
 			height 480px
 			width 1280px
 			
 		div.cielo
 			animation 12s animParallax linear infinite 
 			background-image url(../imgs/back.png)
 			z-index 1
 		div.montanas 
 			animation 8s animParallax linear infinite
 			background-image url(../imgs/middle.png)
 			z-index 2
 		div.carretera
 			animation 3s animParallax linear infinite
 			background-image url(../imgs/front.png)
 			z-index 3
 		div.personaje
 			background-image url(../imgs/mario.gif)
 			background-position center 380px
 			background-repeat no-repeat
 			width 640px
 			z-index 4
 			transition all 0.5s
 			&:hover
 				background-position center 300px

@keyframes animParallax
	from
		background-position 0px 0px
	to
		background-position -1280px 0px
		