doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documento html5
  body
    h1 Documento HTML 5
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, rerum, amet! Exercitationem ad ullam omnis velit numquam officiis fugit nemo molestiae praesentium iste commodi deserunt, quod natus ducimus debitis totam corporis, illo quibusdam explicabo nobis perspiciatis reprehenderit! Vitae, et iste commodi, a dolores dolorum, totam deserunt ducimus cum aut soluta impedit sed corrupti inventore optio earum illum non molestiae voluptatibus consequatur expedita maxime, odit quia. Quibusdam explicabo nobis quo voluptate excepturi perspiciatis omnis amet, mollitia fuga, nostrum accusamus debitis vero tenetur unde! Animi, nulla sed minus, dolorem at, ad eaque numquam pariatur ex quo atque mollitia itaque amet aliquid delectus.