doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Video (HTML 5)
  body
    h1 Video (HTML 5)
    video(controls, poster='imgs/calavera.jpg')
      source(src='video/Calavera.mp4', type='video/mp4')