body {
  font-family: Arial;
  color: #ccc;
}
section.box img {
  float: left;
  margin-right: 10px;
}
article {
  border: 2px solid #ccc;
  display: inline-block;
  width: 200px;
}
article.baseline {
  vertical-align: baseline;
}
article.top {
  vertical-align: top;
}
article.middle {
  vertical-align: middle;
}
