doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Contacto
    link(href='../estilos.css', rel='stylesheet')
  body
  .marcoppal
    .encabezado
      a(href='../index.html') Inicio
      a(href='nosotros.html') Nosotros
      a(href='servicios.html') Servicios
      a(href='javascript:;') Contacto
    .contenido
      h1 Nosotros
      img(src='../imagenes/nosotros.png')
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia deserunt voluptatem ratione a ex consequuntur porro, minima, dolores maiores libero deleniti tenetur, necessitatibus animi ducimus voluptatum dolorum quam non.
    .pie
      p Todos los derechos reservados 2016