doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Servicios - Rutas Relativas
    link(href='../estilos.css', rel='stylesheet')
  body
  .marcoppal
    .encabezado
      a(href='../index.html') Inicio
      a(href='nosotoros.html') Nosotros
      a(href='javascript:;') Servicios
      a(href='contacto.html') Contacto
    .contenido
      h1 Servicios
      img(src='imagenes/index.png')
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia deserunt voluptatem ratione a ex consequuntur porro, minima, dolores maiores libero deleniti tenetur, necessitatibus animi ducimus voluptatum dolorum quam non.
    .pie
      p Todos los derechos reservados 2016