doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Casos (jade)
  body
    h1 Casos (jade)
    - var amigos = 0
    case amigos
      when 0
        p Usted no tiene amigos
      when 1
        p Usted tiene un amigo
      default
        p Usted tiene #{amigos} amigos