doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Comentarios (Jade)
  body    
    //Primeros comentarios
    p Hola visitantes
    p Bienvenidos
    //- Este comentario no aparece en el contenido