body {
  background-color: #cfb3e5;
}
section.principal {
  background-color: #e6d2f5;
  margin: 50px auto;
  padding: 20px;
  width: 600px;
}
h1 {
  color: #f1e7f8;
  font-family: 'Conv_Signerica_Thin';
  font-size: 3.6em;
  text-align: center;
}
p {
  font-family: 'Conv_Signerica_Thin';
  font-size: 3em;
  color: #6b62af;
  line-height: 1em;
  text-align: justify;
}
