list = 1 2
list[0] = #FFFFFF
list[1] = #B7A0A0

add(a, b)
   if a is a '10' and b is a 'px'
     a + b
   else
     (error 'a and b must be units!')

 body
 	background-color list[1]
 	color list[0]
 	padding add(10, 'px')[1]
