body
	font 16px Verdana
section
	border 2px solid #333
	height 150px
	position relative
	font-size 5em
	width 300px
section.box1
	background-color #B88484
	color #fff
	2-index 1
	
section.box2
	background-color #A97B7B
	color #fff
	top -100px
	left 100px
	2-index 2
section.box3
	background-color #9E7272
	color #333
	top -200px
	left 200px
	2-index 3
	