body
	background-color #E18080
section
	border 10px solid #F68282
	background-color #fff
	height 300px
	margin 40px auto
	text-align center
	width 400px
section.pointer
	cursor pointer
section.move
	cursor move
section.wait
	cursor wait
section.help
	cursor help
section.image
	cursor url(../imgs/globe.jpg), default
